<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Bejelentkezés">
        <setting label="Felhasználónév:" type="text" id="username" default=""/>
        <setting label="Jelszó:" type="text" id="password" option="hidden" default=""/>
        <setting label="Felirat letöltésének kísérlete" type="bool" id="downloadsubtitles" default="True"/>
        <setting type="text" id="logintimestamp" visible="false" default="0" />
        <setting type="text" id="logincookie" visible="false" default="" />
    </category>
</settings>
